body {
  background-color: #191137;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.location-name {
  text-align: start;
  padding-left: 64px;
  color: white;
  margin-bottom: 64px;
}

.vl {
  border-left: 2px solid #6557FF;
  height: 500px;
  margin-right: 16px;
}


