.match-container {
  width: 846px;
  height: 106px;
  border: black solid 3px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-logo {
  height: 90px;
  width: 90px;
}

.match-content-container {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.match-content-container * {
  margin-left: 30px;
  margin-right: 30px;
}

.victory-background {
  background-color: #6557FF;
}

.defeat-background {
  background-color: #FF1F1F;
}
