li {
  margin-left: 16px;
  margin-right: 16px;
}

.header-container {
  height: 88px;
  background-color: #382874;
  display: flex;
  align-items: center;
  padding-left: 26px;
  padding-right: 26px;
}

.links-container {
  display: flex;
  flex-grow: 1;
}

.link-button:hover {
  color: #6557FF;
}

.fav-team-img {
  height: 88px;
  width: 88px;
}